/* latin */
@font-face {
    font-family: 'Droid Serif';
    font-style: normal;
    font-weight: 400;
    src: local('Droid Serif'), local('DroidSerif'), url(droid-serif.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
select{
    width:80%;
    border:3px solid rgb(200, 200, 207);
    height:42px;
    padding:5px;
    border-radius:3px;
    margin:5px 10px 20px 35px;
}
input[type=text]{
    width:76%;
    border:3px solid rgb(200, 200, 207);
    height:23px;
    padding:5px;
    border-radius:3px;
    margin:5px 10px 20px 35px;
}
input[type=submit]{
    width:80%;
    border:3px solid rgb(200, 200, 207);
    height:42px;
    padding:5px;
    border-radius:3px;
    margin:10px 10px 20px 35px;
    border:1px solid green;
}
label{
    margin-left:35px;
    font-family: 'Droid Serif', serif;
}
.container{
    width:960px;
    margin:50px auto;
}
.main{
    float:left;
    width:355px;
    height:350px;
    box-shadow:1px 1px 12px gray;
    padding-top:30px;
}
h2{
    width:370px;
    text-align:center;
    font-family: 'Droid Serif', serif;
}
#age{
    padding: 5px;
    text-align: center;
    font-size: larger;
}