body {
    font-family: Trebuchet MS, Arial, Times New Roman;
    font-size: 12px;
    background-image: url("images/1.jpg");
}

#container {
    margin-left: 5px;
    width: 1000px;
    height: 1000px;
}

#header {
    height: 260px;
    width: 1000px;
    color: #000000;
    font: 40px comic sans ms;
    background-image: url("images/uchtdorfconf2012.png");
    margin-top: 5px;

}

#navigation {
    float: right;
    width: 219px;
    height: 300px;
    font: 18px comic sans ms;
    background-image: url("images/linen-background-3.jpg");
    margin-top: 10px;
    margin-left: 5px;
    padding-top: 30px;
    text-align: center;
}

#content {
    width: 1000px;
    height: 600px;
    text-align: left;
}

.MyHeader {
    font-size: 15px;
    font: "Arial";
    font-weight: bold;
    color: #008080;
}

.Lyrics {
    font-size: 14px;
    font:"Times";
    margin: 3;
    color: black;
}
