{FILE="header.html"}
    <div id="content">
        <h1>All I Think About Is...</h1>
        <hr/>
        <div class = "MyHeader" ><a href="?id={VAR="id1"}">{VAR="subject1"}</a></DIV>
        <p><p/>
        <div class = "Lyrics" >
            {VAR="lyricsshort1"}
        </div>
        <hr/>
        <div class = "MyHeader" ><a href="?id={VAR="id2"}">{VAR="subject2"}</a></DIV>
        <p><p/>
        <div class = "Lyrics" >
            {VAR="lyricsshort2"}
        </div>
        <hr/>
        <div class = "MyHeader" ><a href="?id={VAR="id3"}">{VAR="subject3"}</a></DIV>
        <p><p/>
        <div class = "Lyrics" >
            {VAR="lyricsshort3"}
        </div>
        <hr/>
    </div>
{FILE="footer.html"}
