body {
    font-family: Trebuchet MS, Arial, Times New Roman;
    font-size: 12px;
    background-image: url("images/fon.jpg");
}
#container {
    margin-left: 15px;
    width: 990px;
    height: 1000px;

}
#header {
    height: 400px;
    width: 1000px;
    color: #000000;
    font: 40px comic sans ms;
    background-image: url("images/2-01.jpg");
    margin-top: 5px;

}
#navigation {
    float: left;
    color: #000000;
    width: 300px;
    height: 390px;
    font: 20px comic sans ms;
    background-image: url("images/07.jpg");
    margin-top: 10px;
    text-align: center;
    padding-top: 40px;
}

#content {
    float: right;
    width: 650px;
    height: 600px;
}

.MyHeader
{  font-size: 15px;
    font:"Arial";
    font-weight:bold;
    color: #008080;
}

.Lyrics
{  font-size: 14px;
    font:"Times";
    margin: 3;
    color: black;
}
