{FILE="header.html"}
    <div id="content">
        <h1>Relax, take it easy!</h1>
        <hr/>
        <DIV class = "MyHeader" >{VAR="subject"}</DIV>
        <p><p/>
            <DIV class = "Lyrics" >
                {VAR="lyrics"}
                <hr/>
            </div>
        <a href="?">&lt; Back &lt; </a>
    </div>
{FILE="footer.html"}
